<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-typography.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-table.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-form-elements.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-animation.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-items.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-buttons.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-showcase.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-cube.css">
</head>
<body>
<article>
<h1 class="logo">lucid.css</h1>

<h2 class="logo">Minimalist user interface components for web applications</h2>
<article id="#contents">
    <h1>Contents</h1>
    <ol>
        <li><span class="font-size-smallest">1</span>. <a href="#tables">Tables</a></li>
        <li><span class="font-size-smallest">2</span>. <a href="#typography">Typography</a></li>
        <li><span class="font-size-smallest">3</span>. <a href="#form-elements">Form Elements</a></li>
        <li><span class="font-size-smallest">4</span>. <a href="#buttons">Buttons</a></li>
        <li><span class="font-size-smallest">5</span>. <a href="#items">Items</a></li>
        <li><span class="font-size-smallest">6</span>. <a href="#miscellaneous">Miscellaneous</a></li>
    </ol>
</article>
<article id="tables">
    <h1>Tables</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <table class="table-bordered">
                    <tr>
                        <th>foo</th>
                        <th>bar</th>
                        <th>baz</th>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                    <tr>
                        <td>d</td>
                        <td>e</td>
                        <td>f</td>
                    </tr>
                </table>
            </td>
            <td>
                    <pre>
&lt;table class=&quot;table-bordered&quot;&gt;
    &lt;tr&gt;
        &lt;th&gt;foo&lt;/th&gt;
        &lt;th&gt;bar&lt;/th&gt;
        &lt;th&gt;baz&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;a&lt;/td&gt;
        &lt;td&gt;b&lt;/td&gt;
        &lt;td&gt;c&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;d&lt;/td&gt;
        &lt;td&gt;e&lt;/td&gt;
        &lt;td&gt;f&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</pre>
            </td>
            <td>Table with headers</td>
        </tr>
        <tr>
            <td>
                <table class="table-bordered table-striped">
                    <tr>
                        <th>foo</th>
                        <th>bar</th>
                        <th>baz</th>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                    <tr>
                        <td>d</td>
                        <td>e</td>
                        <td>f</td>
                    </tr>
                </table>
            </td>
            <td>
                    <pre>
&lt;table class=&quot;table-bordered table-striped&quot;&gt;
    &lt;tr&gt;
        &lt;th&gt;foo&lt;/th&gt;
        &lt;th&gt;bar&lt;/th&gt;
        &lt;th&gt;baz&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;a&lt;/td&gt;
        &lt;td&gt;b&lt;/td&gt;
        &lt;td&gt;c&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;d&lt;/td&gt;
        &lt;td&gt;e&lt;/td&gt;
        &lt;td&gt;f&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</pre>
            </td>
            <td>Table with headers and stripes</td>
        </tr>
    </table>
</article>
<article id="typography">
    <h1>Typography</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <p>Paragraph</p>
            </td>
            <td><code>&lt;p&gt;Paragraph&lt;/p&gt;</code></td>
            <td>Paragraph text</td>
        </tr>
        <tr>
            <td>
                <h1>Heading 1</h1></td>
            <td><code>&lt;h1&gt;Heading 1&lt;/h1&gt;</code></td>
            <td>Heading 1</td>
        </tr>
        <tr>
            <td>
                <h2>Heading 2</h2></td>
            <td><code>&lt;h2&gt;Heading 2&lt;/h2&gt;</code></td>
            <td>Heading 2</td>
        </tr>
        <tr>
            <td>
                <h3>Heading 3</h3></td>
            <td><code>&lt;h3&gt;Heading 3&lt;/h3&gt;</code></td>
            <td>Heading 3</td>
        </tr>
        <tr>
            <td>
                <blockquote>Blockquote</blockquote>
            </td>
            <td><pre>
&lt;blockquote&gt;
    Blockquote
&lt;/blockquote&gt;</pre>
            </td>
            <td>Blockquote</td>
        </tr>
        <tr>
            <td>
                <a href="#">Anchor</a></td>
            <td><code>&lt;a href=&quot;#&quot;&gt;Anchor&lt;/a&gt;</code></td>
            <td>Anchor</td>
        </tr>
        <tr>
            <td>
                <code>Code (single line)</code></td>
            <td><code>&lt;code&gt;Code (single line)&lt;/code&gt;</code></td>
            <td>Code (single line)</td>
        </tr>
        <tr>
            <td>
                    <pre>
Code
(multi-line)</pre>
            </td>
            <td><pre>
&lt;pre&gt;Code
(multi-line)&lt;/pre&gt;</pre>
            </td>
            <td>Code (multi-line)</td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="input type='text'"/>
            </td>
            <td>
                <code>&lt;input type=&quot;text&quot; placeholder=&quot;input type='text'&quot;/&gt;</code>
            </td>
            <td>Text input</td>
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="input type='password'"/>
            </td>
            <td>
                <code>&lt;input type=&quot;password&quot; placeholder=&quot;input type='password'&quot;/&gt;</code>
            </td>
            <td>Password input</td>
        </tr>
        <tr>
            <td>
                <input type="email" placeholder="input type='email'"/>
            </td>
            <td>
                <code>&lt;input type=&quot;email&quot; placeholder=&quot;input type='email'&quot;/&gt;</code>
            </td>
            <td>Email input</td>
        </tr>
        <tr>
            <td>
                <textarea placeholder="placeholder..."></textarea>
            </td>
            <td>
                <code>&lt;textarea placeholder=&quot;placeholder...&quot;&gt;&lt;/textarea&gt;</code>
            </td>
            <td>Text area</td>
        </tr>
        <tr>
            <td>
                <hr/>
            <td><code>&lt;hr/&gt;</code></td>
            <td>Horizontal line</td>
        </tr>
        <tr>
            <td>
                <div class="label-btn">Button Label</div>
            <td><code>&lt;div class=&quot;label-btn&quot;&gt;Button Label&lt;/div&gt;</code></td>
            <td>Button label</td>
        </tr>
        <tr>
            <td>
                <div class="font-size-smallest">Smallest Font</div>
            <td><code>&lt;div class=&quot;font-size-small&quot;&gt;Smallest Font&lt;/div&gt;</code></td>
            <td>Smallest font</td>
        </tr>
        <tr>
            <td>
                <div class="font-size-smaller">Smaller Font</div>
            <td><code>&lt;div class=&quot;font-size-smaller&quot;&gt;Smaller Font&lt;/div&gt;</code></td>
            <td>Smaller font</td>
        </tr>
        <tr>
            <td>
                <div class="font-size-small">Small Font</div>
            <td><code>&lt;div class=&quot;font-size-small&quot;&gt;Small Font&lt;/div&gt;</code></td>
            <td>Small font</td>
        </tr>
        <tr>
            <td>
                <div class="font-size-normal">Normal Font</div>
            <td><code>&lt;div class=&quot;font-size-normal&quot;&gt;Normal Font&lt;/div&gt;</code></td>
            <td>Normal Font</td>
        </tr>
        <tr>
            <td>
                <div class="font-size-large">Large Font</div>
            <td><code>&lt;div class=&quot;font-size-small&quot;&gt;Large Font&lt;/div&gt;</code></td>
            <td>Large font</td>
        </tr>
        <tr>
            <td>
                <div class="font-size-larger">Larger Font</div>
            <td><code>&lt;div class=&quot;font-size-larger&quot;&gt;Larger Font&lt;/div&gt;</code></td>
            <td>Larger font</td>
        </tr>
        <tr>
            <td>
                <div class="font-size-largest">Largest Font</div>
            <td><code>&lt;div class=&quot;font-size-largest&quot;&gt;Largest Font&lt;/div&gt;</code></td>
            <td>Largest font</td>
        </tr>
    </table>
</article>

<article id="form-elements">
    <h1>Form Elements</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="input type='text'"/>
            </td>
            <td>
                <code>&lt;input type=&quot;text&quot; placeholder=&quot;input type='text'&quot;/&gt;</code>
            </td>
            <td>Text input</td>
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="input type='password'"/>
            </td>
            <td>
                <code>&lt;input type=&quot;password&quot; placeholder=&quot;input type='password'&quot;/&gt;</code>
            </td>
            <td>Password input</td>
        </tr>
        <tr>
            <td>
                <input type="email" placeholder="input type='email'"/>
            </td>
            <td>
                <code>&lt;input type=&quot;email&quot; placeholder=&quot;input type='email'&quot;/&gt;</code>
            </td>
            <td>Email input</td>
        </tr>
        <tr>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <input id="r200" name="r" type="radio" checked="checked">
                            <label class="radio" for="r200">a</label>
                        </td>
                        <td>
                            <input id="r300" name="r" type="radio">
                            <label class="radio" for="r300">b</label>
                        </td>
                        <td>
                            <input id="r400" name="r" type="radio">
                            <label class="radio" for="r400">c</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                    <pre>
&lt;input id=&quot;r200&quot; name=&quot;r&quot; type=&quot;radio&quot; checked=&quot;checked&quot;&gt;
&lt;label class=&quot;radio&quot; for=&quot;r200&quot;&gt;a&lt;/label&gt;
&lt;input id=&quot;r300&quot; name=&quot;r&quot; type=&quot;radio&quot;&gt;
&lt;label class=&quot;radio&quot; for=&quot;r300&quot;&gt;b&lt;/label&gt;
&lt;input id=&quot;r400&quot; name=&quot;r&quot; type=&quot;radio&quot;&gt;
&lt;label class=&quot;radio&quot; for=&quot;r400&quot;&gt;c&lt;/label&gt;
</pre>
            </td>
            <td>Radio buttons</td>
        </tr>
    </table>
</article>

<article id="buttons">
    <h1>Buttons</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <button type="button" disabled="disabled" class="btn btn-80" value="s">s</button>
            </td>
            <td><code>&lt;button type=&quot;button&quot; disabled=&quot;disabled&quot; class=&quot;btn btn-80&quot;
                    value=&quot;s&quot;&gt;s&lt;/button&gt;</code></td>
            <td>Disabled button</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-80" value="s">s</button>
            </td>
            <td><code>&lt;button type=&quot;button&quot; class=&quot;btn btn-80&quot; value=&quot;s&quot;&gt;s&lt;/button&gt;</code>
            </td>
            <td>Default button</td>
        </tr>
        <tr>
            <td>
                <div class="centered-text">
                    <button type="button" class="btn btn-80" value="s">s</button>
                    <div class="label">search</div>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;centered-text&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-80&quot; value=&quot;s&quot;&gt;s&lt;/button&gt;
    &lt;div class=&quot;label&quot;&gt;search&lt;/div&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Default button with label</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-80 btn-primary">s</button>
            </td>
            <td><code>&lt;button type=&quot;button&quot; class=&quot;btn btn-80
                    btn-primary&quot;&gt;s&lt;/button&gt;</code></td>
            <td>Primary button</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-80 btn-primary btn-two-tone">s</button>
            </td>
            <td><code>&lt;button type=&quot;button&quot; class=&quot;btn btn-80 btn-primary btn-two-tone&quot;&gt;s&lt;/button&gt;</code>
            </td>
            <td>Primary button (two-tone)</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-80 btn-success">s</button>
            </td>
            <td><code>&lt;button type=&quot;button&quot; class=&quot;btn btn-80
                    btn-success&quot;&gt;s&lt;/button&gt;</code></td>
            <td>Success button</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-80 btn-danger">s</button>
            </td>
            <td><code>&lt;button type=&quot;button&quot; class=&quot;btn btn-80
                    btn-danger&quot;&gt;s&lt;/button&gt;</code></td>
            <td>Danger button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-40">s</button>
            </td>
            <td><code>&lt;button class=&quot;btn btn-40&quot;&gt;s&lt;/button&gt;</code></td>
            <td>Small button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-50">s</button>
            </td>
            <td><code>&lt;button class=&quot;btn btn-50&quot;&gt;s&lt;/button&gt;</code></td>
            <td>Medium-small button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-80">s</button>
            </td>
            <td><code>&lt;button class=&quot;btn btn-80&quot;&gt;s&lt;/button&gt;</code></td>
            <td>Medium button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-100">s</button>
            </td>
            <td><code>&lt;button class=&quot;btn btn-100&quot;&gt;s&lt;/button&gt;</code></td>
            <td>Large button</td>
        </tr>
        <tr>
            <td>
                <div class="rotating-button-container">
                    <button class="btn btn-80 btn-success btn-rotating" data-is-waiting="true"></button>
                    <span class="focus-indicator"></span><span class="pictos button-icon">3</span>
                </div>
            </td>
            <td><pre>
&lt;button class=&quot;btn btn-80 btn-success btn-rotating&quot;
        data-is-waiting=&quot;true&quot;&gt;&lt;/button&gt;
&lt;span class=&quot;focus-indicator&quot;&gt;&lt;/span&gt;
&lt;span class=&quot;pictos button-icon&quot;&gt;3&lt;/span&gt;</pre>
            </td>
            <td>Waiting button</td>
        </tr>
    </table>
</article>


<article id="items">
    <h1>Items</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <div class="thumbnail thumbnail-219">
                    <h2>foo bar bam</h2>

                    <p>foo bar bam foo bar bam</p>

                    <p>foo bar bam</p>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;thumbnail thumbnail-219&quot;&gt;
    &lt;h2&gt;foo bar bam&lt;/h2&gt;
    &lt;p&gt;foo bar bam foo bar bam&lt;/p&gt;
    &lt;p&gt;foo bar bam&lt;/p&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Item thumbnail</td>
        </tr>
        <tr>
            <td>
                <div class="thumbnail thumbnail-219 selected">
                    <h2>foo bar bam</h2>

                    <p>foo bar bam foo bar bam</p>

                    <p>foo bar bam</p>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;thumbnail thumbnail-219 selected&quot;&gt;
    &lt;h2&gt;foo bar bam&lt;/h2&gt;
    &lt;p&gt;foo bar bam foo bar bam&lt;/p&gt;
    &lt;p&gt;foo bar bam&lt;/p&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Item thumbnail (selected)</td>
        </tr>
    </table>
</article>

<article id="miscellaneous">
    <h1>Miscellaneous</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>

                <section id="cube" class="cube-container" data-selected-face-id="0">
                    <input type="radio" id="topRadio" name="selectedFace" checked="checked" />
                    <input type="radio" id="leftRadio" name="selectedFace" />
                    <input type="radio" id="frontRadio" name="selectedFace" />
                    <input type="radio" id="rightRadio" name="selectedFace" />
                    <input type="radio" id="bottomRadio" name="selectedFace" />
                    <input type="radio" id="backRadio" name="selectedFace" />
                    <div class="cube-controls">
                        <label for="topRadio" class="face-selector"></label>
                        <label for="leftRadio" class="face-selector"></label>
                        <label for="frontRadio" class="face-selector"></label>
                        <label for="rightRadio" class="face-selector"></label>
                        <label for="bottomRadio" class="face-selector"></label>
                        <label for="backRadio" class="face-selector"></label>
                    </div>
                    <div class="cube">
                        <figure class="top"></figure>
                        <figure class="left"></figure>
                        <figure class="front"></figure>
                        <figure class="right"></figure>
                        <figure class="bottom"></figure>
                        <figure class="back"></figure>
                    </div>
                    <ol class="cube-face-labels">
                        <li for="f-t">face 1</li>
                        <li for="f-l">face 2</li>
                        <li for="f-f">face 3</li>
                        <li for="f-r">face 4</li>
                        <li for="f-bottom">face 5</li>
                        <li for="f-back">face 6</li>
                    </ol>
                </section>

            </td>
            <td><pre>
&#x3C;section id=&#x22;cube&#x22; class=&#x22;cube-container&#x22;&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;topRadio&#x22; name=&#x22;selectedFace&#x22; checked=&#x22;checked&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;leftRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;frontRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;rightRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;bottomRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;backRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;div class=&#x22;cube-controls&#x22;&#x3E;
        &#x3C;label for=&#x22;topRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;leftRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;frontRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;rightRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;bottomRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;backRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;cube&#x22;&#x3E;
        &#x3C;figure class=&#x22;top&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;left&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;front&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;right&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;bottom&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;back&#x22;&#x3E;&#x3C;/figure&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;ol class=&#x22;cube-face-labels&#x22;&#x3E;
        &#x3C;li for=&#x22;f-t&#x22;&#x3E;face 1&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-l&#x22;&#x3E;face 2&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-f&#x22;&#x3E;face 3&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-r&#x22;&#x3E;face 4&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-bottom&#x22;&#x3E;face 5&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-back&#x22;&#x3E;face 6&#x3C;/li&#x3E;
    &#x3C;/ol&#x3E;
&#x3C;/section&#x3E;</pre></td>
            <td>Cube</td>
        </tr>
    </table>
</article>
</article>
