<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid.css">
</head>
<body class="modal-container modal-visibles">
<div class="modal-bg">
<article>
<h1 class="logo">lucid.css</h1>

<h2 class="logo">Minimalist user interface components for web applications</h2>
<article id="#contents">
    <h1>Contents</h1>
    <ol>
        <li><span class="font-size-smallest">1</span>. <a href="#tables">Tables</a></li>
        <li><span class="font-size-smallest">2</span>. <a href="#typography">Typography</a></li>
        <li><span class="font-size-smallest">3</span>. <a href="#form-elements">Form Elements</a></li>
        <li><span class="font-size-smallest">4</span>. <a href="#buttons">Buttons</a></li>
        <li><span class="font-size-smallest">5</span>. <a href="#items">Items</a></li>
        <li><span class="font-size-smallest">6</span>. <a href="#navigation">Navigation</a></li>
        <li><span class="font-size-smallest">7</span>. <a href="#miscellaneous">Miscellaneous</a></li>
        <li><span class="font-size-smallest">8</span>. <a href="#dialogs">Dialogs</a></li>
    </ol>
</article>
<article id="tables">
    <h1>Tables</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <table class="table-bordered">
                    <tr>
                        <th>foo</th>
                        <th>bar</th>
                        <th>baz</th>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                    <tr>
                        <td>d</td>
                        <td>e</td>
                        <td>f</td>
                    </tr>
                </table>
            </td>
            <td>
                    <pre>
&lt;table class=&quot;table-bordered&quot;&gt;
    &lt;tr&gt;
        &lt;th&gt;foo&lt;/th&gt;
        &lt;th&gt;bar&lt;/th&gt;
        &lt;th&gt;baz&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;a&lt;/td&gt;
        &lt;td&gt;b&lt;/td&gt;
        &lt;td&gt;c&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;d&lt;/td&gt;
        &lt;td&gt;e&lt;/td&gt;
        &lt;td&gt;f&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</pre>
            </td>
            <td>Table with headers</td>
        </tr>
        <tr>
            <td>
                <table class="table-bordered table-striped">
                    <tr>
                        <th>foo</th>
                        <th>bar</th>
                        <th>baz</th>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                    <tr>
                        <td>d</td>
                        <td>e</td>
                        <td>f</td>
                    </tr>
                </table>
            </td>
            <td>
                    <pre>
&lt;table class=&quot;table-bordered table-striped&quot;&gt;
    &lt;tr&gt;
        &lt;th&gt;foo&lt;/th&gt;
        &lt;th&gt;bar&lt;/th&gt;
        &lt;th&gt;baz&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;a&lt;/td&gt;
        &lt;td&gt;b&lt;/td&gt;
        &lt;td&gt;c&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;d&lt;/td&gt;
        &lt;td&gt;e&lt;/td&gt;
        &lt;td&gt;f&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;</pre>
            </td>
            <td>Table with headers and stripes</td>
        </tr>
    </table>
</article>
<article id="typography">
    <h1>Typography</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <p>Paragraph</p>
            </td>
            <td><pre>&lt;p&gt;Paragraph&lt;/p&gt;</pre></td>
            <td>Paragraph text</td>
        </tr>
        <tr>
            <td>
                <h1>Heading 1</h1></td>
            <td><pre>&lt;h1&gt;Heading 1&lt;/h1&gt;</pre></td>
            <td>Heading 1</td>
        </tr>
        <tr>
            <td>
                <h2>Heading 2</h2></td>
            <td><pre>&lt;h2&gt;Heading 2&lt;/h2&gt;</pre></td>
            <td>Heading 2</td>
        </tr>
        <tr>
            <td>
                <h3>Heading 3</h3></td>
            <td><pre>&lt;h3&gt;Heading 3&lt;/h3&gt;</pre></td>
            <td>Heading 3</td>
        </tr>
        <tr>
            <td>
                <blockquote>Blockquote</blockquote>
            </td>
            <td><pre>
&lt;blockquote&gt;
    Blockquote
&lt;/blockquote&gt;</pre>
            </td>
            <td>Blockquote</td>
        </tr>
        <tr>
            <td>
                <a href="#">Anchor</a></td>
            <td><pre>&lt;a href=&quot;#&quot;&gt;Anchor&lt;/a&gt;</pre></td>
            <td>Anchor</td>
        </tr>
        <tr>
            <td>
                <code>Code (single line)</code></td>
            <td><pre>&lt;code&gt;Code (single line)&lt;/code&gt;</pre></td>
            <td>Code (single line)</td>
        </tr>
        <tr>
            <td>
                    <pre>
Code
(multi-line)</pre>
            </td>
            <td><pre>
&lt;pre&gt;Code
(multi-line)&lt;/pre&gt;</pre>
            </td>
            <td>Code (multi-line)</td>
        </tr>
        <tr>
            <td>
                <hr/>
            <td><pre>&lt;hr/&gt;</pre></td>
            <td>Horizontal line</td>
        </tr>
        <tr>
            <td>
                <label class="label-btn">Button Label</label>
            <td><pre>&lt;label class=&quot;label-btn&quot;&gt;Button Label&lt;/label&gt;</pre></td>
            <td>Button label</td>
        </tr>
        <tr>
            <td>
                <p class="font-size-smallest">Smallest Font</p>
            <td><pre>&lt;p class=&quot;font-size-small&quot;&gt;Smallest Font&lt;/p&gt;</pre></td>
            <td>Smallest font</td>
        </tr>
        <tr>
            <td>
                <p class="font-size-smaller">Smaller Font</p>
            <td><pre>&lt;p class=&quot;font-size-smaller&quot;&gt;Smaller Font&lt;/p&gt;</pre></td>
            <td>Smaller font</td>
        </tr>
        <tr>
            <td>
                <p class="font-size-small">Small Font</p>
            <td><pre>&lt;p class=&quot;font-size-small&quot;&gt;Small Font&lt;/p&gt;</pre></td>
            <td>Small font</td>
        </tr>
        <tr>
            <td>
                <p class="font-size-normal">Normal Font</p>
            <td><pre>&lt;p class=&quot;font-size-normal&quot;&gt;Normal Font&lt;/p&gt;</pre></td>
            <td>Normal Font</td>
        </tr>
        <tr>
            <td>
                <p class="font-size-large">Large Font</p>
            <td><pre>&lt;p class=&quot;font-size-small&quot;&gt;Large Font&lt;/p&gt;</pre></td>
            <td>Large font</td>
        </tr>
        <tr>
            <td>
                <p class="font-size-larger">Larger Font</p>
            <td><pre>&lt;p class=&quot;font-size-larger&quot;&gt;Larger Font&lt;/p&gt;</pre></td>
            <td>Larger font</td>
        </tr>
        <tr>
            <td>
                <p class="font-size-largest">Largest Font</p>
            <td><pre>&lt;p class=&quot;font-size-largest&quot;&gt;Largest Font&lt;/p&gt;</pre></td>
            <td>Largest font</td>
        </tr>
    </table>
</article>

<article id="form-elements">
    <h1>Form Elements</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="input type='text'"/>
            </td>
            <td>
                <pre>&lt;input type=&quot;text&quot; placeholder=&quot;input type='text'&quot;/&gt;</pre>
            </td>
            <td>Text input</td>
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="input type='password'"/>
            </td>
            <td>
                <pre>&lt;input type=&quot;password&quot; placeholder=&quot;input type='password'&quot;/&gt;</pre>
            </td>
            <td>Password input</td>
        </tr>
        <tr>
            <td>
                <input type="email" placeholder="input type='email'"/>
            </td>
            <td>
                <pre>&lt;input type=&quot;email&quot; placeholder=&quot;input type='email'&quot;/&gt;</pre>
            </td>
            <td>Email input</td>
        </tr>
        <tr>
            <td>
                <div class="relative">
                    <input id="foo" type="email" placeholder="input with metadata"/>
                    <label for="foo" class="meta-info">foo</label>
                </div>                
            </td>
            <td>
                <pre>
&lt;div class=&quot;relative&quot;&gt;
    &lt;input id=&quot;foo&quot; type=&quot;email&quot; placeholder=&quot;input type=&#39;email&#39;&quot;/&gt;
    &lt;label for=&quot;foo&quot; class=&quot;meta-info&quot;&gt;foo&lt;/label&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Text input meta-data</td>
        </tr>
        <tr>
            <td>
                <textarea placeholder="textarea..."></textarea>
            </td>
            <td>
                <pre>&lt;textarea placeholder=&quot;textarea...&quot;&gt;&lt;/textarea&gt;</pre>
            </td>
            <td>Text area</td>
        </tr>
        <tr>
            <td>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <input id="r200" name="r" type="radio" checked="checked">
                            <label class="radio" for="r200">a</label>
                        </td>
                        <td>
                            <input id="r300" name="r" type="radio">
                            <label class="radio" for="r300">b</label>
                        </td>
                        <td>
                            <input id="r400" name="r" type="radio">
                            <label class="radio" for="r400">c</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                    <pre>
&lt;input id=&quot;r200&quot; name=&quot;r&quot; type=&quot;radio&quot; checked=&quot;checked&quot;&gt;
&lt;label class=&quot;radio&quot; for=&quot;r200&quot;&gt;a&lt;/label&gt;
&lt;input id=&quot;r300&quot; name=&quot;r&quot; type=&quot;radio&quot;&gt;
&lt;label class=&quot;radio&quot; for=&quot;r300&quot;&gt;b&lt;/label&gt;
&lt;input id=&quot;r400&quot; name=&quot;r&quot; type=&quot;radio&quot;&gt;
&lt;label class=&quot;radio&quot; for=&quot;r400&quot;&gt;c&lt;/label&gt;
</pre>
            </td>
            <td>Radio buttons</td>
        </tr>
    </table>
</article>

<article id="buttons">
    <h1>Buttons</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <button disabled="disabled" class="btn btn-80">s</button>
            </td>
            <td><pre>&lt;button disabled=&quot;disabled&quot; class=&quot;btn btn-80&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Disabled button</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-80">s</button>
            </td>
            <td><pre>&lt;button type=&quot;button&quot; class=&quot;btn btn-80&quot;&gt;s&lt;/button&gt;</pre>
            </td>
            <td>Default button</td>
        </tr>
        <tr>
            <td>
                <div class="centered-text">
                    <button class="btn btn-80">s</button>
                    <div class="label">search</div>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;centered-text&quot;&gt;
    &lt;button class=&quot;btn btn-80&quot;&gt;s&lt;/button&gt;
    &lt;div class=&quot;label&quot;&gt;search&lt;/div&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Default button with label</td>
        </tr>
        <tr>
            <td>
                <div class="centered-text btn-container">
                    <button class="btn btn-50">s</button>
                    <div class="label">search</div>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;centered-text btn-container&quot;&gt;
    &lt;button class=&quot;btn btn-50&quot;&gt;s&lt;/button&gt;
    &lt;div class=&quot;label&quot;&gt;search&lt;/div&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Default button with label</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-80 btn-primary">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-80 btn-primary&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Primary button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-80 btn-primary btn-with-notch">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-80 btn-primary btn-with-notch&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Button with notch</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-80 btn-primary btn-two-tone">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-80 btn-primary btn-two-tone&quot;&gt;s&lt;/button&gt;</pre>
            </td>
            <td>Primary button (two-tone)</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-80 btn-success">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-80 btn-success&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Success button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-80 btn-danger">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-80 btn-danger&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Danger button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-40">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-40&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Small button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-50">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-50&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Medium-small button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-80">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-80&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Medium button</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-100">s</button>
            </td>
            <td><pre>&lt;button class=&quot;btn btn-100&quot;&gt;s&lt;/button&gt;</pre></td>
            <td>Large button</td>
        </tr>
        <tr>
            <td>
                <div class="centered-text handle handle-search-panel btn-container">
                    <a href="/searchpanelmode/update?mode=0" class="btn btn-primary btn-50">&#xe800;</a>
                    <div class="label">show search &amp; favorites</div>
                </div>
            </td>
            <td><pre>&lt;div class=&quot;centered-text handle handle-search-panel btn-container&quot;&gt;
    &lt;a href=&quot;/searchpanelmode/update?mode=0&quot; class=&quot;btn btn-primary btn-50&quot;&gt;&amp;#59392;&lt;/a&gt;
    &lt;div class=&quot;label&quot;&gt;show search &amp;amp; favorites&lt;/div&gt;
&lt;/div&gt;</pre></td>
            <td>Button with text</td>
        </tr>
        <tr>
            <td>
                <div class="rotating-button-container centered-text">
                    <button class="btn btn-80 btn-success btn-rotating" data-is-waiting="false"></button><span class="focus-indicator"></span><span class="button-icon"></span>
                </div>
            </td>
            <td><pre>&lt;div class=&quot;rotating-button-container centered-text&quot;&gt;
    &lt;button class=&quot;btn btn-80 btn-success btn-rotating&quot; data-is-waiting=&quot;false&quot;&gt;&lt;/button&gt;
    &lt;span class=&quot;focus-indicator&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;button-icon&quot;&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Waiting button</td>
        </tr>
        <tr>
            <td>
                <div class="rotating-button-container centered-text">
                    <button class="btn btn-80 btn-success btn-rotating" data-is-waiting="false"></button><span class="focus-indicator"></span><span class="pictos button-icon"></span><div class="label">this is a long long long long label</div>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;rotating-button-container&quot;&gt;
    &lt;button class=&quot;btn btn-80 btn-success btn-rotating&quot; data-is-waiting=&quot;true&quot;&gt;&lt;/button&gt;
    &lt;span class=&quot;focus-indicator&quot;&gt;&lt;/span&gt;&lt;span class=&quot;pictos button-icon&quot;&gt;3&lt;/span&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Waiting button</td>
        </tr>
        <tr>
            <td>
                <div class="rotating-button-container centered-text">
                    <button class="btn btn-50 btn-success btn-rotating" data-is-waiting="false"></button><span class="focus-indicator"></span><span class="pictos button-icon"></span><div class="label">this is a long long long long label</div>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;rotating-button-container&quot;&gt;
    &lt;button class=&quot;btn btn-50 btn-success btn-rotating&quot; data-is-waiting=&quot;true&quot;&gt;&lt;/button&gt;
    &lt;span class=&quot;focus-indicator&quot;&gt;&lt;/span&gt;&lt;span class=&quot;pictos button-icon&quot;&gt;3&lt;/span&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Waiting button</td>
        </tr>
        <tr>
            <td>
                <div class="rotating-button-container centered-text">
                    <button class="btn btn-40 btn-success btn-rotating" data-is-waiting="false"></button><span class="focus-indicator"></span><span class="pictos button-icon"></span><div class="label">this is a long long long long label</div>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;rotating-button-container&quot;&gt;
    &lt;button class=&quot;btn btn-40 btn-success btn-rotating&quot; data-is-waiting=&quot;true&quot;&gt;&lt;/button&gt;
    &lt;span class=&quot;focus-indicator&quot;&gt;&lt;/span&gt;&lt;span class=&quot;pictos button-icon&quot;&gt;3&lt;/span&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Waiting button</td>
        </tr>
    </table>
</article>


<article id="items">
    <h1>Items</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <div class="thumbnail thumbnail-219">
                    <h2>foo bar bam</h2>

                    <p>foo bar bam foo bar bam</p>

                    <p>foo bar bam</p>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;thumbnail thumbnail-219&quot;&gt;
    &lt;h2&gt;foo bar bam&lt;/h2&gt;
    &lt;p&gt;foo bar bam foo bar bam&lt;/p&gt;
    &lt;p&gt;foo bar bam&lt;/p&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Item thumbnail</td>
        </tr>
        <tr>
            <td>
                <div class="thumbnail thumbnail-219 selected">
                    <h2>foo bar bam</h2>

                    <p>foo bar bam foo bar bam</p>

                    <p>foo bar bam</p>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;thumbnail thumbnail-219 selected&quot;&gt;
    &lt;h2&gt;foo bar bam&lt;/h2&gt;
    &lt;p&gt;foo bar bam foo bar bam&lt;/p&gt;
    &lt;p&gt;foo bar bam&lt;/p&gt;
&lt;/div&gt;</pre>
            </td>
            <td>Item thumbnail (selected)</td>
        </tr>
    </table>
</article>

<article id="navigation">
    <h1>Navigation</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <ol class="breadcrumbs" data-selected-crumb="1">
                    <li class="crumb"><b class="first-letter">1.</b>One</li>
                    <li class="crumb"><b class="pictos">]</b></li>
                    <li class="crumb"><b class="first-letter">2.</b>Two</li>
                </ol>
            </td>
            <td><pre>
&lt;ol class=&quot;breadcrumbs&quot; data-selected-crumb=&quot;1&quot;&gt;
    &lt;li class=&quot;crumb&quot;&gt;&lt;b class=&quot;first-letter&quot;&gt;1.&lt;/b&gt;One&lt;/li&gt;
    &lt;li class=&quot;crumb&quot;&gt;&lt;b class=&quot;pictos&quot;&gt;]&lt;/b&gt;&lt;/li&gt;
    &lt;li class=&quot;crumb&quot;&gt;&lt;b class=&quot;first-letter&quot;&gt;2.&lt;/b&gt;Two&lt;/li&gt;
&lt;/ol&gt;</pre>
            </td>
            <td>Breadcrumbs</td>
        </tr>        
    </table>
</article>

<article id="miscellaneous">
    <h1>Miscellaneous</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>

                <section id="cube" class="cube-container" data-selected-face-id="0">
                    <input type="radio" id="topRadio" name="selectedFace" checked="checked" />
                    <input type="radio" id="leftRadio" name="selectedFace" />
                    <input type="radio" id="frontRadio" name="selectedFace" />
                    <input type="radio" id="rightRadio" name="selectedFace" />
                    <input type="radio" id="bottomRadio" name="selectedFace" />
                    <input type="radio" id="backRadio" name="selectedFace" />
                    <div class="cube-controls">
                        <label for="topRadio" class="face-selector"></label>
                        <label for="leftRadio" class="face-selector"></label>
                        <label for="frontRadio" class="face-selector"></label>
                        <label for="rightRadio" class="face-selector"></label>
                        <label for="bottomRadio" class="face-selector"></label>
                        <label for="backRadio" class="face-selector"></label>
                    </div>
                    <div class="cube">
                        <figure class="top"><p class="face-empty-message">this face is empty</p></figure>
                        <figure class="left"><p class="face-empty-message">this face is empty</p></figure>
                        <figure class="front"><p class="face-empty-message">this face is empty</p></figure>
                        <figure class="right"><p class="face-empty-message">this face is empty</p></figure>
                        <figure class="bottom"><p class="face-empty-message">this face is empty</p></figure>
                        <figure class="back"><p class="face-empty-message">this face is empty</p></figure>
                    </div>
                    <ol class="cube-face-labels">
                        <li for="f-t">face 1</li>
                        <li for="f-l">face 2</li>
                        <li for="f-f">face 3</li>
                        <li for="f-r">face 4</li>
                        <li for="f-bottom">face 5</li>
                        <li for="f-back">face 6</li>
                    </ol>
                </section>

            </td>
            <td><pre>
&#x3C;section id=&#x22;cube&#x22; class=&#x22;cube-container&#x22;&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;topRadio&#x22; name=&#x22;selectedFace&#x22; checked=&#x22;checked&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;leftRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;frontRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;rightRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;bottomRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;backRadio&#x22; name=&#x22;selectedFace&#x22; /&#x3E;
    &#x3C;div class=&#x22;cube-controls&#x22;&#x3E;
        &#x3C;label for=&#x22;topRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;leftRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;frontRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;rightRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;bottomRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
        &#x3C;label for=&#x22;backRadio&#x22; class=&#x22;face-selector&#x22;&#x3E;&#x3C;/label&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;cube&#x22;&#x3E;
        &#x3C;figure class=&#x22;top&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;left&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;front&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;right&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;bottom&#x22;&#x3E;&#x3C;/figure&#x3E;
        &#x3C;figure class=&#x22;back&#x22;&#x3E;&#x3C;/figure&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;ol class=&#x22;cube-face-labels&#x22;&#x3E;
        &#x3C;li for=&#x22;f-t&#x22;&#x3E;face 1&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-l&#x22;&#x3E;face 2&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-f&#x22;&#x3E;face 3&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-r&#x22;&#x3E;face 4&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-bottom&#x22;&#x3E;face 5&#x3C;/li&#x3E;
        &#x3C;li for=&#x22;f-back&#x22;&#x3E;face 6&#x3C;/li&#x3E;
    &#x3C;/ol&#x3E;
&#x3C;/section&#x3E;</pre></td>
            <td>Cube</td>
        </tr>
    </table>
</article>

<article id="dialogs">
    <h1>Dialogs</h1>
    <table class="table-bordered table-striped">
        <tr>
            <th>Element</th>
            <th>Markup</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <div class="centered-text" onclick="javascript:document.querySelector('.modal-container').classList.toggle('modal-visible')">
                    <button class="btn btn-80">s</button>
                    <div class="label">show dialog</div>
                </div>
            </td>
            <td><pre>
&lt;div class=&quot;modal modal-full-screen&quot;&gt;
    &lt;div class=&quot;modal-content-container centered medium&quot;&gt;
        &lt;div class=&quot;modal-content-panel&quot;&gt;
            &lt;h1&gt;Foo&lt;/h1&gt;
            &lt;p&gt;Foo bar.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</pre></td>
            <td>Full-screen dialog.</td>
        </tr>
        <tr>
            <td>
                <div class="centered-text" onclick="javascript:document.querySelector('.modal-container').classList.toggle('modal-visible')">
                    <button class="btn btn-80">s</button>
                    <div class="label">show dialog</div>
                </div>
            </td>
            <td><pre>
&lt;body class=&quot;modal-container modal-visible&quot; data-modal=&quot;1&quot;&gt;
	&lt;div class=&quot;main modal-bg&quot;&gt;
		&lt;!-- content goes here --&gt;
	&lt;/div&gt;
	&lt;div id=&quot;delete-favorite-group-confirmation-dialog&quot; class=&quot;modal modal-full-screen&quot;&gt;
	    &lt;div class=&quot;modal-content-container centered medium&quot;&gt;
	        &lt;div class=&quot;modal-content-panel&quot;&gt;
	            &lt;h1&gt;Delete Favorite Group&lt;/h1&gt;
	            &lt;div class=&quot;message-container&quot;&gt;&lt;p&gt;You have chosen to delete the following group of favorites:&lt;/p&gt;&lt;blockquote&gt;&lt;em&gt;my favorites&lt;/em&gt;&lt;/blockquote&gt;&lt;p&gt;This cannot be undone.&lt;/p&gt;&lt;p&gt;Are you sure you want to delete this group?&lt;/p&gt;&lt;/div&gt;
	            &lt;ul class=&quot;form-button-container&quot;&gt;
	                &lt;li class=&quot;centered-text form-button-container-item&quot;&gt;
	                    &lt;a href=&quot;/deletefavoritegroupconfirmationdialog/destroy&quot; class=&quot;btn btn-80&quot;&gt;*&lt;/a&gt;
	                    &lt;div class=&quot;label&quot;&gt;cancel&lt;/div&gt;
	                &lt;/li&gt;
	                &lt;li class=&quot;centered-text form-button-container-item&quot;&gt;
	                    &lt;a href=&quot;/favoritegroup/destroy?id=0&quot; class=&quot;btn btn-80 btn-danger&quot;&gt;3&lt;/a&gt;
	                    &lt;div class=&quot;label&quot;&gt;delete&lt;/div&gt;
	                &lt;/li&gt;
	            &lt;/ul&gt;
	        &lt;/div&gt;
	    &lt;/div&gt;
	&lt;/div&gt;
&lt;body&gt;
</pre></td>
            <td>Full-screen dialog.</td>
        </tr>
    </table>
</article>
</article>
</div>
<div class="modal modal-full-screen">
    <div class="modal-content-container centered medium">
        <div class="modal-content-panel">
            <h1>This is a modal dialog</h1>
            <p>You can write a message for your users here.</p>
            <ul class="form-button-container">
                <li class="centered-text form-button-container-item">
                    <button class="btn btn-80" onclick="javascript:document.querySelector('.modal-container').classList.toggle('modal-visible')">*</button>
                    <div class="label">cancel</div>
                </li>
                <li class="centered-text form-button-container-item">
                    <button class="btn btn-80 btn-success" onclick="javascript:document.querySelector('.modal-container').classList.toggle('modal-visible')">3</button>
                    <div class="label">ok</div>
                </li>
            </ul>

        </div>
    </div>
</div>
<script>
    //this function should be modified in production to ensure that only full rotations are ever seen to avoid jarring stops
    function keepButtonsWaiting(){
        var buttonsWaiting = document.querySelectorAll('.btn.btn-rotating[data-is-waiting=true]') || [];
        var buttonsNotWaiting = document.querySelectorAll('.btn.btn-rotating[data-is-waiting=false]') || [];
        var delay = 0;

        Array.prototype.forEach.call(buttonsWaiting, function(el, i){
            el.setAttribute('data-is-waiting', 'false');
        });

        Array.prototype.forEach.call(buttonsNotWaiting, function(el, i){
            el.setAttribute('data-is-waiting', 'true');
            delay = 2500;
        });

        setTimeout(keepButtonsWaiting, delay);
    }
    keepButtonsWaiting();
</script>
</body>
</html>