<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-typography.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-table.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-form-elements.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-animation.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-items.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/lucid-style-showcase.css">
</head>
<body>
<article>
    <h1 class="logo">lucid.css</h1>
    <h2 class="logo">Minimalist user interface components for web applications</h2>
    <article id="#contents">
        <h1>Contents</h1>
        <ol>
            <li><span class="font-size-smallest">1</span>. <a href="#tables">Tables</a></li>
            <li><span class="font-size-smallest">2</span>. <a href="#typography">Typography</a></li>
            <li><span class="font-size-smallest">3</span>. <a href="#form-elements">Form Elements</a></li>
            <li><span class="font-size-smallest">4</span>. <a href="#buttons">Buttons</a></li>
            <li><span class="font-size-smallest">5</span>. <a href="#items">Items</a></li>
            <li><span class="font-size-smallest">6</span>. <a href="#miscellaneous">Miscellaneous</a></li>
        </ol>
    </article>
    <article id="tables">
        <h1>Tables</h1>
        <table class="table-bordered table-striped">
            <tr>
                <th>Element</th>
                <th>Markup</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    <table class="table-bordered">
                        <tr>
                            <th>Table</th>
                            <th>class=""</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>
                                <p>Paragraph</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <code>table-bordered</code>
                </td>
                <td>Table with headers.</td>
            </tr>
            <tr>
                <td>
                    <table class="table-bordered table-striped">
                        <tr>
                            <th>Table</th>
                            <th>class=""</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>
                                <p>Paragraph</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <code>table-bordered table-striped</code>
                </td>
                <td>Table with headers and stripes.</td>
            </tr>
        </table>
    </article>
    <article id="typography">
        <h1>Typography</h1>
        <table class="table-bordered table-striped">
            <tr>
                <th>Element</th>
                <th>Markup</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    <p>Paragraph</p></td>
                <td><code>p</code></td>
                <td>Paragraph text.</td>
            </tr>
            <tr>
                <td>
                    <h1>Heading 1</h1></td>
                <td><code>h1</code></td>
                <td>Heading 1</td>
            </tr>
            <tr>
                <td>
                    <h2>Heading 2</h2></td>
                <td><code>h2</code></td>
                <td>Heading 2</td>
            </tr>
            <tr>
                <td>
                    <h3>Heading 3</h3></td>
                <td><code>h3</code></td>
                <td>Heading 3</td>
            </tr>
            <tr>
                <td>
                    <blockquote>Blockquote</blockquote>
                </td>
                <td><code>blockquote</code></td>
                <td>Blockquote</td>
            </tr>
            <tr>
                <td>
                    <a href="#">Anchor</a></td>
                <td><code>a</code></td>
                <td>Anchor</td>
            </tr>
            <tr>
                <td>
                    <code>Code (single line)</code></td>
                <td><code>&lt;code&gt;Code (single line)&lt;/code&gt;</code></td>
                <td>Code (single line)</td>
            </tr>
            <tr>
                <td>
                    <pre>
    Code
    (multi-line)
    </pre>
                </td>
                <td><pre>
    &lt;pre&gt;Code
    (multi-line)&lt;/pre&gt;</pre>
                </td>
                <td>Code (multi-line)</td>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="input type='text'"/>
                </td>
                <td>
                    <code>input type="text"</code>
                </td>
                <td>Text Input</td>
            </tr>
            <tr>
                <td>
                    <input type="password" placeholder="input type='password'"/>
                </td>
                <td>
                    <code>input type="password"</code>
                </td>
                <td>Password Input</td>
            </tr>
            <tr>
                <td>
                    <input type="email" placeholder="input type='email'"/>
                </td>
                <td>
                    <code>input type="email"</code>
                </td>
                <td>Email Input</td>
            </tr>
            <tr>
                <td>
                    <hr/>
                <td><code>hr</code></td>
                <td>Horizontal Line</td>
            </tr>
            <tr>
                <td>
                    <div class="label-btn">Button Label</div>
                <td><code>label-btn</code></td>
                <td>Button Label</td>
            </tr>
            <tr>
                <td>
                    <div class="font-size-small">Smallest Font</div>
                <td><code>font-size-smallest</code></td>
                <td>Smallest Font</td>
            </tr>
            <tr>
                <td>
                    <div class="font-size-small">Smaller Font</div>
                <td><code>font-size-smaller</code></td>
                <td>Smaller Font</td>
            </tr>
            <tr>
                <td>
                    <div class="font-size-small">Small Font</div>
                <td><code>font-size-small</code></td>
                <td>Small Font</td>
            </tr>
            <tr>
                <td>
                    <div class="font-size-small">Normal Font</div>
                <td><code>font-size-normal</code></td>
                <td>Normal Font</td>
            </tr>
            <tr>
                <td>
                    <div class="font-size-large">Large Font</div>
                <td><code>font-size-large</code></td>
                <td>Large Font</td>
            </tr>
            <tr>
                <td>
                    <div class="font-size-larger">Larger Font</div>
                <td><code>font-size-larger</code></td>
                <td>Larger Font</td>
            </tr>
            <tr>
                <td>
                    <div class="font-size-largest">Largest Font</div>
                <td><code>font-size-largest</code></td>
                <td>Largest Font</td>
            </tr>
        </table>
    </article>

    <article id="form-elements">
        <h1>Form Elements</h1>
        <table class="table-bordered table-striped">
            <tr>
                <th>Element</th>
                <th>Markup</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    <input type="text" placeholder="input type='text'"/>
                </td>
                <td>
                    <code>input type="text"</code>
                </td>
                <td>Text Input</td>
            </tr>
            <tr>
                <td>
                    <input type="password" placeholder="input type='password'"/>
                </td>
                <td>
                    <code>input type="password"</code>
                </td>
                <td>Password Input</td>
            </tr>
            <tr>
                <td>
                    <input type="email" placeholder="input type='email'"/>
                </td>
                <td>
                    <code>input type="email"</code>
                </td>
                <td>Email Input</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <input id="r200" name="r" type="radio" checked="checked">
                                <label class="radio" for="r200">a</label>
                            </td>
                            <td>
                                <input id="r300" name="r" type="radio">
                                <label class="radio" for="r300">b</label>
                            </td>
                            <td>
                                <input id="r400" name="r" type="radio">
                                <label class="radio" for="r400">c</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td><code>btn btn-100</code></td>
                <td>Radio Buttons</td>
            </tr>
        </table>
    </article>

    <article id="buttons">
        <h1>Buttons</h1>
        <table class="table-bordered table-striped">
            <tr>
                <th>Element</th>
                <th>Markup</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    <button type="button" disabled="disabled" class="btn btn-80" value="s">s</button>
                </td>
                <td><code>btn btn-80</code></td>
                <td>Disabled button</td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-80" value="s">s</button>
                </td>
                <td><code>btn btn-80</code></td>
                <td>Default button</td>
            </tr>
            <tr>
                <td>
                    <div class="centered-text">
                        <button type="button" class="btn btn-80" value="s">s</button>
                        <div class="label">search</div>
                    </div>
                </td>
                <td><pre>
    &lt;button type=&quot;button&quot; class=&quot;btn btn-80&quot; value=&quot;s&quot;&gt;s&lt;/button&gt;
    &lt;div class=&quot;label&quot;&gt;search&lt;/div&gt;</pre>
                </td>
                <td>Default button with label</td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-80 btn-primary">s</button>
                </td>
                <td><code>btn btn-80 btn-primary</code></td>
                <td>Primary Button</td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-80 btn-primary btn-two-tone">s</button>
                </td>
                <td><code>btn btn-80 btn-primary btn-two-tone</code></td>
                <td>Primary Button Two-Tone</td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-80 btn-success">s</button>
                </td>
                <td><code>btn btn-80 btn-success</code></td>
                <td>Success Button</td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-80 btn-danger">s</button>
                </td>
                <td><code>btn btn-80 btn-danger</code></td>
                <td>Danger Button</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-40">s</button>
                </td>
                <td><code>btn btn-40</code></td>
                <td>Small</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-50">s</button>
                </td>
                <td><code>btn btn-50</code></td>
                <td>Medium-Small</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-80">s</button>
                </td>
                <td><code>btn btn-80</code></td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-100">s</button>
                </td>
                <td><code>btn btn-100</code></td>
                <td>Large</td>
            </tr>
            <tr>
                <td>
                    <div class="rotating-button-container">
                        <button class="btn btn-80 btn-success btn-rotating" data-is-waiting="true"></button>
                        <span class="focus-indicator"></span><span class="pictos button-icon">3</span>
                    </div>
                </td>
                <td><pre>
    &lt;button class=&quot;btn btn-80 btn-success btn-rotating&quot;
            data-is-waiting=&quot;true&quot;&gt;&lt;/button&gt;
    &lt;span class=&quot;focus-indicator&quot;&gt;&lt;/span&gt;
    &lt;span class=&quot;pictos button-icon&quot;&gt;3&lt;/span&gt;
    </pre>
                </td>
                <td>Waiting Button</td>
            </tr>
        </table>
    </article>


    <article id="items">
        <h1>Items</h1>
        <table class="table-bordered table-striped">
            <tr>
                <th>Element</th>
                <th>Markup</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>
                    <div class="thumbnail thumbnail-219">
                        <h2>C# Developer / Technical Lead</h2>

                        <p>&pound;475-550/day (more for excellent candidates)</p>

                        <p>London</p>

                        <p class="posted">2 days ago</p>
                    </div>
                </td>
                <td><code>...</code></td>
                <td>Item Thumbnail</td>
            </tr>
            <tr>
                <td>
                    <div class="thumbnail thumbnail-219 selected">
                        <h2>C# Developer / Technical Lead</h2>

                        <p>&pound;475-550/day (more for excellent candidates)</p>

                        <p>London</p>

                        <p class="posted">2 days ago</p>
                    </div>
                </td>
                <td><code>...</code></td>
                <td>Item Thumbnail (Selected)</td>
            </tr>
        </table>
    </article>

    <article id="miscellaneous">
        <h1>Miscellaneous</h1>
        <table class="table-bordered table-striped">
            <tr>
                <th>Element</th>
                <th>Markup</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>TODO: the cube,</td>
            </tr>
        </table>
    </article>
</article>
